/* All Blog page */
.flex-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  border-radius: 10px 10px 0 0;
  margin-bottom: 1rem;
}

.article-texts {
  padding: 1rem;
}

.article-title {
  font-size: var(--sixteen);
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;
}

.article-subtitle {
  margin-bottom: 0.5rem;
  color: #9ca3af;
  font-size: var(--twelve);
  line-height: 22px;
}

.article-description {
  font-size: var(--fourteen);
  text-align: left;
  margin-bottom: 1rem;
}

/* Single Blog Page */
.article-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.article-heading {
  font-size: clamp(32px, 5vw, 45px);
  text-transform: uppercase;
  display: inline;
  margin-bottom: 2rem;
}

.article-subheading {
  font-size: var(--twelve);
  color: #9ca3af;
  margin-left: 0.5rem;
}

.article-body,
.article-writeup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article-img {
  width: 100%;
  height: clamp(200px, 50vw, 600px);
  border-radius: 20px;
  margin-bottom: 1rem;
}

.article-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center 10%;
  object-position: center 10%;
}

.article-list li {
  list-style: disc;
  margin-left: 2rem;
}

.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 50px;
  width: 168px;
  padding: 12px 18px;
  border: none;
  background: var(--gradient);
  color: var(--brand);
  font-size: var(--eighteen);
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
}

.load-more:hover {
  transform: scale(0.9, 0.9);
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .article-heading {
    line-height: 42px;
  }

  .article-subheading {
    font-size: var(--fourteen);
    align-self: flex-start;
    text-align: left;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
