.container{
    width: 90%;
    background: rgba(0 50 83 / 32%);
    min-height: 90vh;
    margin: 2rem auto;
    border-radius: 1rem
}

.index-sections{
    background: rgba(6 44 75 / 50%);
    padding: 3rem 1rem;
    margin: 2rem;
    border-radius: 1rem;
}

.section-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.section-title{
    line-height: 42px;
    font-size: var(--fourtyFive);
    text-transform: uppercase;
    display: inline;
}

.section-title .gradient-text{
    font-weight: 700;
}

.section-link{
    display: flex;
    align-items: center;
    font-size: var(--sixteen);
    text-decoration: none;
    color: var(--white);
}

.fa-arrow-circle-o-right{
    margin-left: .5rem;
}

.flex-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.flex-item{
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 1rem;
    margin: 0 auto 1rem;
    background-color: var(--brand);
}

.flex-img{
    height: 180px;
}

@media screen and (min-width: 768px) {
    .container{
        margin: 3rem auto;
    }

    .index-sections{
        padding: 2rem;
        margin: 3rem;
    }

    .section-header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

/*----- Hero section------ */
.hero-section{
    padding: 3rem 2rem;
}

.hero-texts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3rem 1rem;
    background: url(../../src/assets/cod2.jpg) var(--brand) ;
    background-size:  cover;
    background-position: center top;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.hero-section-title{
    line-height: 42px;
    font-size: var(--fourtyFive);
    text-transform: uppercase;
    display: inline;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.welcome-text{
    font-size: var(--twenty);
    text-align: left;
}

@media screen and (min-width: 768px) {
    .hero-section{
        padding: 3rem;
    }
    .hero-texts{
        padding: 3rem 2rem;
    }

    .hero-title{
        font-size: var(--fourtyFive);
        line-height: 52px;
    }
}
    

/*------ Embeded Video section------ */
.flex-img iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.video-title{
    font-size: var(--fourteen);
    text-align: left;
    padding: 1rem;
}

.view-link{
    margin-top: .75rem;
}

@media screen and (min-width: 768px) {
    .embeded-videos-section{
        padding: 3rem 2rem;
    }

    .flex-item{
        width: 23%;
    }
}
    

/*------ Article section------ */

.flex-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 1rem;
}

.article-texts{
    padding: 1rem;
}

.article-title{
    font-size: var(--fourteen);
    font-weight: 500;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 1rem;
}

.article-description{
    font-size: var(--fourteen);
    text-align: left;
    margin-bottom: 1rem;
}

/* Subscription section */
.subscription-section{
    margin: 2rem ;
}

.subscription-title{
    margin-bottom: .5rem;
}

.subscription-description{
    font-size: var(--eighteen);
    margin-bottom: 1rem;
}

.subscription-form{
    display: flex;
    flex-wrap: wrap;
    height: 120px;
}

.subscription-input{
    width: 300px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0 1rem;
    font-size: var(--eighteen);
    margin-right: 1rem;
}

@media screen and (min-width: 768px) {
    .subscription-form{
        height: 50px;
    }

    .subscription-input{
        width: 400px;
    }
}
    
