/* @import "./index.css"; */

.container{
    width: 90%;
    background: rgba(0 50 83 / 32%);
    height: 90%;
    min-height: 90vh;
    margin: 2rem auto;
    border-radius: 1rem
}

.hero-section{
    padding: 3rem 1rem;
}

.hero-texts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3rem 1rem;
    background: url(../../src/assets/cod2.jpg);
    background-size:  cover;
    background-position: center top;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.hero-title{
    line-height: 42px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .container{
        margin: 3rem auto;
    }

    .hero-section{
        padding: 3rem 2rem;
    }

    .hero-texts{
        padding: 3rem 2rem;
    }

    .welcome-text{
        font-size: var(--twenty);
    }

    .hero-title{
        font-size: var(--fourtyFive);
        line-height: 52px;
    }
}
    
