@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Risque&display=swap");

:root {
  /* Colors */
  --primary: #1f2122;
  --secondary: #27292a;
  --brand: #003253;
  --gradient: linear-gradient(270deg, #1ac6e1 50%, #0886be 100%);
  --white: #fff;
  --black: #000;
  --alt: #666;

  /* Font */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Risque", cursive;

  /* Font Size */
  --fourtyFive: 35px;
  --fourtyFive: 35px;
  --thirtyFour: 28px;
  --twentyFour: 20px;
  --twenty: 18px;
  --eighteen: 16px;
  --sixteen: 16px;
  --fourteen: 14px;
  --twelve: 12px;
  --ten: 10px;
  --eight: 8px;
}

@media screen and (min-weight: 768px) {
  :root {
    /* Font Size */
    --fourtyFive: 45px;
    --thirtyFour: 34px;
    --twentyFour: 24px;
    --twenty: 20px;
    --eighteen: 18px;
    --sixteen: 16px;
    --fourteen: 14px;
    --twelve: 12px;
    --ten: 10px;
    --eight: 8px;
  }
}

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  background-color: #0f172a;
  color: var(--white);
  max-width: 2560px;
  margin: 0 auto;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul li {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--white);
  text-transform: none;
}

h1 {
  font-size: var(--fourtyFive);
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
  color: var(--white);
}

h2 {
  font-size: var(--thirtyFour);
  line-height: 64px;
  font-weight: 700;
}

h3 {
  font-size: var(--thirtyFour);
  line-height: 52px;
  font-weight: 600;
}

h4 {
  font-size: var(--twenty);
  line-height: 2.5rem;
  font-weight: 600;
}

h5 {
  font-size: var(--eighteen);
  font-weight: 500;
  line-height: 1.5rem;
}

h6 {
  font-size: var(--sixteen);
  line-height: 1.2rem;
  font-weight: 600;
}

/* Buttons */
button {
  font-family: var(--font-primary);
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  transform: scale(0.9, 0.9);
}

.btn-primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--tertiary);
  color: var(--black);
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  transition: all 0.3s;
}

.btn-primary:hover {
  transform: scale(0.9, 0.9);
}

.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 168px;
  padding: 12px 18px;
  background: var(--gradient);
  color: var(--brand);
  font-size: var(--eighteen);
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
}

.btn-secondary:hover {
  transform: scale(0.9, 0.9);
}

/*-------------[Body Style] -------------*/
.root {
  display: grid;
  grid-template-columns: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.gradient-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Header */
header {
  width: 100vw;
  height: 100px;
  background-color: transparent;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 1rem;
  text-transform: capitalize;
  position: sticky;
}

/* Mobile Header */
.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-header {
  display: none;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.nav-logo .logo-name {
  font-family: var(--font-secondary);
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left: 0.5rem;
  font-size: var(--sixteen);
}

.nav-toggle {
  width: 1.75rem;
  height: auto;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: var(--white);
  margin: 5px 0;
  border-radius: 3px;
  position: relative;
  z-index: 3;
  transition: all 0.3s ease-in-out;
}

.change .bar-one {
  transform: rotate(48deg) translate(4px, 7px);
  transition: all 0.3s ease-in-out;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: border-box;
}

.change .bar-two {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.change .bar-three {
  transform: rotate(-48deg) translate(4px, -8px);
  transition: all 0.3s ease-in-out;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: border-box;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--brand);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: -150%;
  transition: all 0.5s ease-in-out;
  padding: 2rem;
}

.nav-open {
  left: 0;
}

.nav-list {
  margin-top: 2.5rem;
}

.nav-item {
  padding-bottom: 1.5rem;
}

.nav-title {
  color: #e8f8f8;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-transform: none;
}

.nav-title:last-child {
  font-family: var(--font-secondary);
}

.nav-link {
  color: #d9d9d9;
  font-weight: 500;
  text-transform: capitalize;
}

.nav-link:hover,
.nav-link:focus {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.fa-youtube {
  margin-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  /* Desktop Header */
  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 2rem;
    height: 5.5rem;
  }

  .nav-logo img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .nav-logo .logo-name {
    font-family: var(--font-secondary);
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 0.5rem;
    font-size: var(--twentyFour);
  }

  .nav-bar {
    position: static;
    background: none;
    width: auto;
    height: auto;
    padding: 0;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
  }

  .nav-item {
    padding-bottom: 0;
  }

  .nav-link {
    color: #d9d9d9;
    font-size: var(--sixteen);
    font-weight: 500;
    margin-right: 2rem;
    text-transform: capitalize;
  }
  

  .nav-link:hover,
  .nav-link:focus,
  .active-link {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .fa-youtube {
    margin-right: 0.5rem;
  }
}

/* Footer */
footer {
  background-color: transparent;
  color: var(--white);
  padding: 1rem;
  text-align: center;
}

.footerText {
  font-size: 0.8rem;
  margin: 0;
}

.brand-text {
  font-family: var(--font-secondary);
}

.footerText a {
  color: var(--white);
  text-decoration: none;
}

.footerText a:hover {
  color: var(--white);
  text-decoration: underline;
}
