@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Risque&display=swap");

:root {
  /* Colors */
  --brand: #003253;
  --gradient: linear-gradient(270deg, #1ac6e1 50%, #0886be 100%);
  --white: #fff;
  --black: #000;
  --alt: #666;

  /* Font */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Risque", cursive;

  /* Font Size */
  --fourtyFive: 2rem;
  --thirtyFour: 1.75rem;
  --twentyFour: 1.25rem;
  --twenty: 1.125rem;
  --eighteen: 1rem;
  --sixteen: 1rem;
  --fourteen: .875rem;
  --twelve: .75rem;
  --ten: .625rem;
  --eight: .5rem;
}

@media screen and (min-weight: 768px) {
  :root {
    /* Font Size */
    --fourtyFive: 2.8125rem;
    --thirtyFour: 2.125rem;
    --twentyFour: 1.5rem;
    --twenty: 1.25rem;
    --eighteen: 1.125rem;
    --sixteen: 1rem;
    --fourteen: .875rem;
    --twelve: .75rem;
    --ten: .625rem;
    --eight: .5rem;
  }
}

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  background-color: #0f172a;
  height: 100%;
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
  color: var(--white);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul li {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--white);
  text-transform: none;
}

h1 {
  font-size: var(--fourtyFive);
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  color: var(--white);
}

h2 {
  font-size: var(--thirtyFour);
  line-height: 34px;
  font-weight: 700;
}

h3 {
  font-size: var(--thirtyFour);
  line-height: 52px;
  font-weight: 600;
}

h4 {
  font-size: var(--twenty);
  line-height: 2.5rem;
  font-weight: 600;
}

h5 {
  font-size: var(--eighteen);
  font-weight: 500;
  line-height: 1.5rem;
}

h6 {
  font-size: var(--sixteen);
  line-height: 1.2rem;
  font-weight: 600;
}

/* Buttons */
button {
  font-family: var(--font-primary);
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  transform: scale(0.9, 0.9);
}

.btn-primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--tertiary);
  color: var(--black);
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  transition: all 0.3s;
}

.btn-primary:hover {
  transform: scale(0.9, 0.9);
}

.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 168px;
  padding: 12px 18px;
  border: none;
  background: var(--gradient);
  color: var(--brand);
  font-size: var(--eighteen);
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
}

.btn-secondary:hover {
  transform: scale(0.9, 0.9);
}

/*-------------[Body Style] -------------*/
.root {
  display: grid;
  grid-template-columns: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.gradient-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Header */
header {
  width: 100vw;
  height: 100px;
  background-color: transparent;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 1rem;
  text-transform: capitalize;
  position: -webkit-sticky;
  position: sticky;
}

/* Mobile Header */
.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-header {
  display: none;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.nav-logo .logo-name {
  font-family: var(--font-primary);
  font-weight: 700;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left: 0.5rem;
  font-size: var(--sixteen);
}

.nav-toggle {
  width: 1.75rem;
  height: auto;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: var(--white);
  margin: 5px 0;
  border-radius: 3px;
  position: relative;
  z-index: 3;
  transition: all 0.3s ease-in-out;
}

.change .bar-one {
  transform: rotate(48deg) translate(4px, 7px);
  transition: all 0.3s ease-in-out;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: border-box;
}

.change .bar-two {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.change .bar-three {
  transform: rotate(-48deg) translate(4px, -8px);
  transition: all 0.3s ease-in-out;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: border-box;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--brand);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: -150%;
  transition: all 0.5s ease-in-out;
  padding: 2rem;
}

.nav-open {
  left: 0;
}

.nav-list {
  margin-top: 2.5rem;
}

.nav-item {
  padding-bottom: 1.5rem;
}

.nav-title {
  color: #e8f8f8;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-transform: none;
}

.nav-title:last-child {
  font-family: var(--font-secondary);
}

.nav-link {
  color: #d9d9d9;
  font-weight: 500;
  text-transform: capitalize;
}

.nav-link:hover,
.nav-link:focus {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.fa-youtube {
  margin-right: 0.5rem;
}

@media screen and (min-width: 900px) {
  /* Desktop Header */
  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    padding: 2rem;
    height: 5.5rem;
  }

  .nav-logo img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .nav-logo .logo-name {
    font-family: var(--font-primary);
    font-weight: 700;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 0.5rem;
    font-size: var(--twentyFour);
  }

  .nav-bar {
    position: static;
    background: none;
    width: auto;
    height: auto;
    padding: 0;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
  }

  .nav-item {
    padding-bottom: 0;
  }

  .nav-link {
    color: #d9d9d9;
    font-size: var(--sixteen);
    font-weight: 500;
    margin-right: 2rem;
    text-transform: capitalize;
  }

  .nav-link:hover,
  .nav-link:focus,
  .active-link {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .fa-youtube {
    margin-right: 0.5rem;
  }

  .nav-item .btn-secondary{
    margin-bottom: 0;
    width: 120px;
    height: 40px;
  }
}

/* Footer */
footer {
  background-color: transparent;
  color: var(--white);
  padding: 1rem;
  text-align: center;
}

.footerText {
  font-size: 0.8rem;
  margin: 0;
}

.brand-text {
  font-family: var(--font-secondary);
}

.footerText a {
  color: var(--white);
  text-decoration: none;
}

.footerText a:hover {
  color: var(--white);
  text-decoration: underline;
}

/* Reused style */
.container {
  width: 95%;
  background: rgba(0 50 83 / 32%);
  min-height: 90vh;
  margin: 2rem auto;
  border-radius: 1rem;
}

.index-sections {
  background: rgba(6 44 75 / 50%);
  padding: 1rem;
  margin: 2rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section-title {
  font-size: var(--fourtyFive);
  text-transform: uppercase;
  display: inline;
}

.section-title .gradient-text {
  font-weight: 700;
}

.section-link {
  display: flex;
  align-items: center;
  font-size: var(--sixteen);
  text-decoration: none;
  color: var(--white);
}

.section-link:hover{
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.fa-arrow-circle-o-right {
  margin-left: 0.5rem;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.flex-item {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 1rem;
  margin: 0 auto 1rem;
  background-color: var(--brand);
  box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.05);
  transition: 0.25s ease;
}

.flex-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.1);
}

.flex-img {
  height: 180px;
}

.index-sections .btn-secondary{
  align-self: center;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 3rem auto;
    width: 95%;
  }

  .index-sections {
    padding: 1.5rem;
    margin: 3rem 1.5;
  }

  .flex-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .flex-item{
    width: 100%;
    max-width: 350px;
  }

  .section-title{
    line-height: 42px;}
}

@media screen and (min-width: 800px) {
  .section-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 900px) {
  .container {
    margin: 3rem auto;
    width: 90%;
  }

  .index-sections {
    padding: 2rem;
    margin: 3rem;
  }
  
  .flex-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

}

/* Subscription section */
.subscription-section {
  margin: 2rem;
}

.subscription-title {
  margin-bottom: 0.5rem;
}

.subscription-description {
  font-size: var(--eighteen);
  margin-bottom: 1rem;
}

.subscription-form {
  display: flex;
  flex-wrap: wrap;
  height: 120px;
  gap: 1rem;
}

.subscription-input {
  width: 300px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0 1rem;
  font-size: var(--eighteen);
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .subscription-form {
    height: 50px;
    gap: 0;
  }

  .subscription-input {
    width: 400px;
  }
}
