<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <header>
            <!-- Desktop Menu -->
            <div className="desktopHeader">
                <a className="nav-link" href="/">
                    <img src="../assets/The-Video-Game-Vault_profile_image.jpg" alt="FunConnect Logo" />
                </a>
                <nav className="navbar">
                    <ul className="nav-list">
                        <li className="nav-item">
                            <a className="nav-link" href="../pages/blog">
                                Blog
                            </a>
                        </li>
                        <li className="nav-item">
                            <a className="nav-link" href="../pages/about">
                                About Me
                            </a>
                        </li>
                        <li className="nav-item">
                            <a className="nav-link" href="../pages/contact">
                                Contact Me
                            </a>
                        </li>
                    </ul>
                </nav>
                <a href="/" className="youtube-button">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                    <p className="button-text">Youtube</p>
                </a>
            </div>

            <!-- Mobile Menu -->
            <div className="mobile-header">
                <a className="nav-link" href="/">
                    <img src="../assets/The-Video-Game-Vault_profile_image.jpg" alt="FunConnect Logo" />
                </a>
                <div className="nav-toggle">
                    <div class="bar bar-one"></div>
                    <div class="bar bar-two"></div>
                    <div class="bar bar-three"></div>
                </div>

                <nav className="navbar">
                    <ul className="nav-list">
                        <li className="nav-item">
                            <h6 className="nav-title">Menu</h6>
                        </li>
                    </ul>

                    <!-- Navigation List -->
                    <ul className="nav-list">
                        <li className="nav-item">
                            <a className="nav-link" href="../pages/blog">
                                Blog
                            </a>
                        </li>

                        <li className="nav-item">
                            <a className="nav-link" href="../pages/about">
                                About Me
                            </a>
                        </li>
                        <li className="nav-item">
                            <a className="nav-link" href="../pages/contact">
                                Contact Me
                            </a>
                        </li>
                    </ul>
                    <ul className="nav-list">
                        <li className="nav-item">
                            <h6 className="navTitle">Get in touch</h6>
                        </li>
                        <li className="nav-item">
                            <h6 className="navTitle">Thevideogamevault@gmail.com</h6>
                        </li>
                    </ul>

                    <!-- Youtube Button -->
                    <a href="/" className="youtube-button">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                        <p className="button-text">Youtube</p>
                    </a>
                </nav>
            </div>
        </header>
    </body>
</html>